.sign-up{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.primary-button{
    margin-top: 12px;
    font-size: 18px;
    padding: 6px 8px;
    border-radius: 8px;
    border:none;
    background-color: rgb(255, 44, 44);
    color: white;
    font-weight: bold;
}