.intro-information{
    width: 400px;
}

.aditional-info{
    text-transform: uppercase;
}

.WorldArt{
    margin-top: -10px;
    font-size: 80px;
}

.info-landing-page{
    font-size: 25px;
    text-align: justify;
}